section {
  background-image: url("../../assets/pic/yugioh_2.jpg");
  background-size: cover;
  height: 100vh;
  padding-top: 150px;
}
.container {
  max-width: 800px;
  background-color: rgba(20, 20, 20, 0.9);
  margin-top: 250px;
}
