.container {
  max-width: 960px;
}
.alert-rounded {
  border-radius: 50px;
  border: 2px solid #b3b6db;
}
.buyer {
  border: 2px solid #b3b6db;
  border-radius: 5px;
  padding: 20px;
  background-color: rgba(50, 50, 50, 0.2);
}
.btnCustom {
  background-color: #b3b6db;
  color: #242220;
  &:hover {
    background-color: #6670b7;
    color: #fff;
  }
}
